/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    background-color: #eaeaea;
}

.matrix {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column-reverse;
}

.cell {
    width: 20px;
    height: 20px;
    background-color: #dadada;
    border: 1px solid #cdcdcd;
    cursor: pointer;
    border-radius: 1px;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

.cell:hover {
    background-color: #d2d2d2;
}

.cell-active {
    background-color: #ffb70a;
}

.cell-active:hover {
    background-color: #f5af0a;
}

.teal {
    background-color: #23FFAD;
}

.teal:hover {
    background-color: #23f3a1;
}

.orange {
    background-color: #FFB70A
}

.orange:hover {
    background-color: #f5af0a
}

.magenta {
    background-color: #9010B2
}

.magenta:hover {
    background-color: #8410a6
}

.green {
    background-color: #83FF19;
}

.green:hover {
    background-color: #7cf318;
}

.red {
    background-color: #FF3F00;
}

.red:hover {
    background-color: #f33d00;
}

.blue {
    background-color: #0926B2;
}

.blue:hover {
    background-color: #0926a6;
}

.gray {
    background-color: #7488B2;
}

.gray:hover {
    background-color: #687ca6;
}